<div class="container author-details">
  <h2>{{ response.author }}</h2>
  <p>Born: {{ response.birthday }}, {{ response.birthPlace }}</p>
  <h3>Books</h3><button class="btn btn-primary mb-3" (click)="toggleSort()">
    Sort {{ sortByTitle ? 'by Publish Date' : 'by Title' }}
  </button>
  <div class="row book-list" [ngClass]="{'two-columns': isDesktop}">
    <div *ngFor="let book of books" class="col-md-6">
      <div class="card mb-3">
        <img src={{book.imageUrl}} alt="Image Description" width="300" height="200">
        <div class="card-body">
          <h5 class="card-title"><a href={{book.purchaseLink}}>{{ book.title }}</a></h5>
          <p class="card-text">Published: {{ book.PublishDate }}</p>
          <button class="btn btn-danger" (click)="removeBook(book)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>